.main-nav {
  display: none;
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .main-nav__list {
    list-style: none;
    display: flex;
    width: 1280px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 55px;
    border: 10px solid black;
    margin: -24px auto 0;
    padding: 0;
    background-color: white;
  }

  .main-nav__list li {
    padding: 15px;
  }

  .main-nav__list a {
    color: black;
    padding: 20px 30px;
  }
}
